@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Ubuntu&display=swap");
:root {
  --background-color: #fff;
  --font-color: black;
  --nav-background-color: #ebebeb;
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--background-color);
  font-family: "Ubuntu", sans-serif;
}

h1,
h3 {
  color: var(--font-color);
}
